/* ---------------- Reset ---------------- */
@import "tailwindcss";
/* Global Custom Scrollbar */
/* Chrome, Edge, Safari */
/* Thin custom scrollbar */
::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: #555 !important; /* grey color */
  border-radius: 10px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #777 !important;
}

